<div id="pimps" class="transitions-enabled">
  <% @pimps.each do |pimp| %>
    <div class="box panel panel-default">
      <%= image_tag pimp.image.url(:medium) %>
      <div class="panel-body">
        <%= pimp.description %>
        <%= pimp.user_id %>
        <%= pimp.user.email if pimp.user %>
        <%= link_to 'Show', pimp %>
        <% if pimp.user == current_user %>
            <%= link_to 'Edit', edit_pimp_path(pimp) %>
            <%= link_to 'Destroy', pimp, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>  
    </div>
  <% end %>
</div>  



