<div id="pimps" class="transitions-enabled">
  <% @pimps.each do |pimp| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pimp.image.url(:medium)), pimp %>
      <div class="panel-body">
        <%= pimp.description %><br/>
        <strong><%= pimp.user.email if pimp.user %></strong>
          <% if pimp.user == current_user %>
            <div class="actions">
              <%= link_to 'Edit', edit_pimp_path(pimp) %>
              <%= link_to 'Destroy', pimp, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
      </div>  
    </div>
  <% end %>
</div>  



