<h1>Listing pimps</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>Pimp ID</th>
      <th>Pimp Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pimps.each do |pimp| %>
      <tr>
        <td><%= image_tag pimp.image.url(:medium) %></td>
        <td><%= pimp.description %></td>
        <td><%= pimp.user_id %></td>
        <td><%= pimp.user.email if pimp.user %></td>
        <td><%= link_to 'Show', pimp %></td>
          <% if pimp.user == current_user %>
            <td><%= link_to 'Edit', edit_pimp_path(pimp) %></td>
            <td><%= link_to 'Destroy', pimp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Pimp', new_pimp_path %>
<% end %>